<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Show</title>
        <link href="{{ asset('styles/app.css') }}" rel="stylesheet">
    </head>
    <body>
        <div id="append">
            {{ form(form) }}
        </div>
    </body>
</html>
